html.dark {
	--color-always-black: #000000;
	--color-always-white: #ffffff;
	--color-background-disabled: #6e6e6e;
	--color-background-inverse-primary: #ffffff;
	--color-background-primary: #0f0f0f;
	--color-background-secondary: #222222;
	--color-background-tertiary: #494949;
	--color-background-top-universal: #f6f6f6;
	--color-background-mask: #ffffff1a;
	--color-background-warning: #ff91421a;
	--color-background-window: #1A1A1A;
	--color-background-special: #141414;
	--color-border-button-line: #3f3f3f;
	--color-border-button-strong: #ffffff;
	--color-border-gutter: #242424;
	--color-border-strong: #303030;
	--color-border-subtle: #191919;
	--color-brand-main: #2862ff;
	--color-function-buy: #00b076;
	--color-function-buy-disabled: #e5f7f1;
	--color-function-buy-light-background: #00b0761a;
	--color-function-buy-volume: #00b07666;
	--color-function-sell: #fd3d49;
	--color-function-sell-disabled: #ffeced;
	--color-function-sell-light-backgroundr: #fd3d491a;
	--color-function-sell-volume: #fd3d4966;
	--color-text-brand: #1754f8;
	--color-text-brand2: #fe7701;
	--color-text-brand3: #14c393;
	--color-text-brand4: #4d50e1;
	--color-text-description: #858587;
	--color-text-disabled: #545557;
	--color-text-error: #f1606d;
	--color-text-inverse-primary: #000000;
	--color-text-inverse-secondary: #212121;
	--color-text-inverse-tertiary: #4d4d4d;
	--color-text-primary: #ffffff;
	--color-text-secondary: #e6e6e6;
	--color-text-success: #28ad76;
	--color-text-tertiary: #b5b5b5;
	--color-text-tips: #6c6d6f;
	--color-text-warning: #ffa963;
	--color-transaction-blu: #99f9fb;
	--color-transaction-pur: #d84cef;
	--color-transaction-yel: #e5a04d;

	// ----
	--color-brand-blue: #1754f8;
	--color-bg-1: #f6f7f8;
	--color-text-cue: #0075ff;
	--color-function-sell-light-background: rgba(246, 70, 93, 0.1);

	--color-background-secondary1: #222;
	--color-text-brand5: #fff;
}
